.btn {
    margin-left: 35%;
    margin-right: 35%;
    width: 30%;
    height: 40%;
    margin-top: 4%;
    border: none;
    background-color: #880000;
    text-align: center;
    font-size: 14px;
    text-transform: uppercase;
    color: white;
    text-emphasis: bold;
}
.container {
    border: 3px solid #ddd;
    margin-top: 3%;
    margin-left: 25%;
    margin-right: 25%;
}
.input-group {
    width: 49%;
    margin-top: 4%;
    display: flex;
    justify-content: space-around;
}
p{
    background-color: #880000;
    color:white;
    display: flex;
    justify-content: center;
}

.form{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}