* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.4;
}
a {
  color: #333;
  text-decoration: none;
}
h1 {
  background-color: #232f3e;
  font-size: sans-serif;
  font-size: 30px;
  width: 100%;
  color: white;
}
